$light-cyan-100: hsl(194, 100%, 94%);
$light-cyan-200: hsl(192, 20%, 75%);
$neon-green: hsl(150, 100%, 66%);

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
